{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrepreneurship</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="row-table-1">
                <p>Name</p>
            </div>
            <div class="row-table-2">
                <p>Alebe Vannisa</p>
            </div>
            <div class="row-table-3">
                <p>Matric Number</p>
            </div>
            <div class="row-table-4">
                <p>AUL/SMS/19/00498</p>
            </div>
        </div>
        <h2 class="intro">Introduction to Entrepreneurship: Graphics and Web Design</h2>
        <div class="tags">
            <h2>Unordered List</h2>
            <ul>
                <li>Paragraphs</li>
                <li>Headings</li>
                <li>Body</li>
                <li>Input</li>
                <li>Table</li>
                <li>Form</li>
                <li>Button</li>
                <li>List</li>
                <li>Link</li>
                <li>Html</li>
                <li>Section</li>
                <li>Title</li>
                <li>Style</li>
                <li>Output</li>
                <li>Label</li>
                <li>Main</li>
            </ul>
        </div>
        <div class="tag-2">
            <h2>Ordered List</h2>
            <ol>
                <li>Inline CSS</li>
                <li>External CSS</li>
                <li>Internal CSS or Embedded CSS</li>
            </ol>
        </div>
        <div class="images">
            <div class="image-cont">
                <img src="{% static 'img/584568ad746e3e42031117ee.png' %}" alt="">
            </div>
            <div class="image-cont">
                <img src="{% static 'img/16-164863_siblings-fighting-png-transparent-fight-clipart-png-download.png' %}" alt="">
            </div>
            <div class="image-cont">
                <img src="{% static 'img/22-227177_sewing-needle-png-transparent-image-sewing-needle-with.png' %}" alt="">
            </div>
            <div class="image-cont">
                <img src="{% static 'img/5G-network.jpg' %}" alt="">
            </div>
            <div class="image-cont">
                <img src="{% static 'img/6a1b68e5e821be6ea8f8b08c10a1724c.png' %}" alt="">
            </div>
            
        </div>
    </div>
</body>
</html>